<footer class="mt-3 shadow-sm bg-slate-200">
    <div class="w-full p-4 mx-auto max-w-screen-2xl lg:py-6">
        <div>
            <h2 class="text-2xl font-light">Get the FreshCart App</h2>
            <p class="py-2 text-sm text-gray-500">We'll send you a link, open it on your phone to download</p>
        </div>
        <div class="relative w-[90%] mx-auto">
            <div class="absolute inset-y-0 flex items-center pointer-events-none start-0 ps-3">
                <i class="text-green-600 far fa-envelope"></i>
            </div>
            <input type="search" id="default-share"
                class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg ps-10 bg-gray-50 focus:ring-green-500 focus:border-green-500"
                placeholder="Email..." />
            <button type="submit"
                class="text-white absolute end-2.5 bottom-2.5 bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2">
                Share App Link
            </button>
        </div>
        <hr class="my-5 border-gray-300 sm:mx-auto lg:my-6" />
        <div class="flex flex-col items-center justify-between gap-5 lg:flex-row lg:gap-0">
            <div class="flex items-center justify-between gap-2">
                <p class="pe-3">Payment Partners </p>
                <img src="assets/images/amazon-pay.png" class="w-[50px]" alt="amazon-pay-logo">
                <img src="assets/images/American-Express-Color.png" class="w-[50px]" alt="American-Express-logo">
                <img src="assets/images/mastercard.webp" class="w-[50px]" alt="mastercard-logo">
                <img src="assets/images/paypal.png" class="w-[50px]" alt="paypal-logo">
            </div>
            
            <div class="flex items-center justify-between gap-2">
                <p>Get deliveries with FreshCart </p>
                <img src="assets/images/get-apple-store.png" class="w-[100px]" alt="apple-store">
                <img src="assets/images/get-google-play.png" class="w-[100px]" alt="google-play">
            </div>
        </div>
        <div class="flex items-center justify-around pt-3 space-x-4 w-[30%] mx-auto lg:w-[15%]">
                <i class="duration-200 hover:text-green-600 fab fa-instagram" role="button"></i>
                <i class="duration-200 hover:text-green-600 fab fa-facebook" role="button"></i>
                <i class="duration-200 hover:text-green-600 fab fa-tiktok" role="button"></i>
                <i class="duration-200 hover:text-green-600 fab fa-twitter" role="button"></i>
                <i class="duration-200 hover:text-green-600 fab fa-linkedin" role="button"></i>
                <i class="duration-200 hover:text-green-600 fab fa-youtube" role="button"></i>
        </div>
        <hr class="my-6 border-gray-300 sm:mx-auto lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center"> © 2025 Ahmed Abdelmonem™. All
            Rights Reserved..
        </span>
    </div>
</footer>