<section class="w-[70%] mx-auto mt-16 py-24">
    <h1 class="mb-6 text-2xl capitalize">login now :</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="relative my-5">
            <input formControlName="email" type="text" id="formEmail"
                class="block px-2.5 bg-white pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
                placeholder=" " />
            <label for="formEmail"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
                Email :</label>
        </div>
        @if (loginForm.get('email')?.errors && loginForm.get('email')?.touched) {
        <div class="p-3 text-red-800 bg-red-100 border-red-700 rounded-lg">
            <p *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</p>
            <p *ngIf="loginForm.get('email')?.errors?.['email']">Email is invalid</p>
        </div>
        }
        <div class="relative my-5">
            <input formControlName="password" type="password" id="formPassword"
                class="block px-2.5 pb-2.5 bg-white pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
                placeholder=" " />
            <label for="formPassword"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
                Password :</label>
        </div>
        @if (loginForm.get('password')?.errors && loginForm.get('password')?.touched) {
        <div class="p-3 text-red-800 bg-red-100 border-red-700 rounded-lg">
            <p *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</p>
        </div>
        }
        <button type="submit"
            class="text-white my-5 duration-200 bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 flex ms-auto items-center">
            @if (isLoading) {
            <i class="fa-solid fa-spinner fa-spin-pulse me-2"></i>
            }
            Login</button>
    </form>
</section>